@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
}

/* Custom CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tetap simpan class helper ini */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 24px; 
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}